<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title></title>
</head>

<body>
<g:each in="${tweets}" var="tweet">
    <p>
        <ul>
            <li>login: ${tweet.id}</li>
            <li>login: ${tweet.text}</li>
            <li>login: ${tweet.user}</li>
        </ul>
        <hr/>
    </p>
</g:each>
</body>
</html>